<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">USL System</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="http://chathurangawijesinghe.com/" target="_blank">
                        Created by Chathuranga Wijesinghe
                    </a>
                </li>
                <li>
                    <a href="http://localhost/USL.TalkSystem/" target="_blank">
                        USL System
                    </a>
                </li>
                <li>
                    <a href="http://localhost/SLD.Admin/" target="_blank">
                        USL Admin
                    </a>
                </li>
                <li>
                    <a href="https://www.leapmotion.com/" target="_blank">
                        <img src="../../Content/images/leapmotion.png" />
                    </a>
                </li>
                <li class="dropdown dropdown-big">
                    <a href="https://responsivevoice.org/" target="_blank">
                        <img src="../../Content/images/responsive-voice.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>