@{
    ViewBag.Title = "USL";
}

<div class="jumbotron">
    <h1>USL System</h1>
    <p class="lead">Universal Sign Language System is a web based language mapping system to overcome the gap between sign language systems and languages.....</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Connect your Leapmotion device and use the system to communicate with people...
        </p>
    </div>
    <div class="col-md-4">
        <h2>Dashboard</h2>
        <p>Dashboard shows system statistics...</p>
    </div>
</div>